
{% extends "admin.index" %}


{% block title %}
    {{ app_obj.exists ? 'Sửa thông tin ' : 'Thêm mới ' }}
    {{ object.title }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ route( object.index_route,{'p_id' : object.product.p_id} ) }}">Danh sách {{ object.title }}</a></li>
    <li class="breadcrumb-item active">
        {{ app_obj.exists ? 'Sửa ' : 'Thêm mới ' }}
        {{ object.title }}
    </li>
{% endblock %}

{% import "admin.forms.input" as formview %}
{% import "admin.forms.button" as button %}

{% block content %}

    <script src="{{ asset('js/ckfinder/ckfinder.js') }}"></script>
    <script src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('backend_assets/js/globals.js') }}"></script>
    <script>CKFinder.config({connectorPath: '/ckfinder/connector'});</script>

    <hr class="mt-0">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="float-right mb-3">
                        {{ button.button_save() }}
                        {% if app_obj.exists %}
                            {{ button.button_create({'link': route( object.create_route ) ~ '?p_id=' ~ object.product.p_id}) }}
                            {{ button.button_delete({'link': route( object.delete_route, app_obj.id) ~ '?p_id=' ~ object.product.p_id}) }}
                        {% endif %}
                        {{ button.button_back({'link': route( object.index_route,{'p_id' : object.product.p_id} )}) }}
                    </div>
                </div>
            </div>
           
            <div class="card card-primary">
                {%if app_obj is null or  app_obj == false  %}
                    {% set app_obj = -1 %}
                {%endif%}
                <form action="{{ route( object.save_route , {'p_id' : object.product.p_id , 'app_obj':app_obj}) }}" method="post" enctype="multipart/form-data"
                        class="form-horizontal" id="formDataGrid">
                    {{ csrf_field() }}
                    <div class="card-body">
                        {{ formview.input({'label': 'Tên nhóm nội dung','name': 'frm_name','value': old('frm_name') ? old('frm_name') : app_obj.name , 'errors': errors}) }}
                        {# 1. Tạo danh sách option trước #}
{% set area_options = "" %}
{% for area in list_areas %}
    {% set selected = (old('frm_vr_area_id') == area.id or app_obj.vr_area_id == area.id) ? 'selected="selected"' : '' %}
    {% set area_options = area_options ~ '<option value="' ~ area.id ~ '" ' ~ selected ~ '>' ~ area.name ~ '</option>' %}
{% endfor %}

{# 2. Gọi macro select #}
{{ formview.select({
    'label': 'Thuộc khu vực',
    'name': 'frm_vr_area_id',
    'options': area_options,
    'text_root': '-- Chọn khu vực --',
    'value_root': '',
    'errors': errors
}) }}
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}

{% endblock %}
