{% set button_create_route          = object.create_route %}
{% set button_delete_checkbox_route = object.delete_checkbox_route %}
{% set button_save_data_index_route = object.save_data_index_route %}


{% extends "admin.index" %}



{% block title %}Danh sách {{ object.title }} 
    
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Quản lý {{ object.title }}</li>
{% endblock %}

{% import "admin.forms.input" as formview %}
{% import "admin.forms.button" as button %}

{% block content %}

    <hr class="mt-0">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 row justify-content-between">
                    <div class="col-12 col-md-auto mb-3 row no-gutters-- gap--2 g--1" id='filter_object'>
                        <div class="col-12 col-md-4">
                            {{ formview.input({'placeholder': 'Tìm kiếm','name': 'search_txt'}) }}
                        </div>
                        <div class="col-12 col-md-4">
                            {{ formview.select({
                                'label': 'Khu vực',
                                'name': 'filter_vr_area',
                                'text_root': '__Tất cả__',
                                'options': list_vrareas, 
                                'errors': errors
                            }) }}
                        </div>
                        <div class="col-12 col-md-4">
                             {{ formview.select({
                                'label': 'Nhóm',
                                'name': 'filter_vr_group',
                                'text_root': '__Tất cả__',
                                'options': list_groups, 
                                'errors': errors
                            }) }}
                        </div>
                    </div>
                    <div class="col-12 col-md-auto text--right mb-3">
                        {{ button.button_save() }}
                        
                         
                         {{ button.button_create({'link': route(button_create_route,{'p_id' : object.product.p_id})}) }}
                        {% if filter.state != 2 %}
                            {{ button.button_delete_checkbox({'link': route(button_delete_checkbox_route )}) }}
                        {% endif %}    


                        {{ button.button_back() }}
                    </div>
                </div>
            </div>
            <div id="2tc" class='d-none'>{{ token1 }}</div>
            
           
            <form method="post" action="{{ route(button_save_data_index_route) }}" id="formDataGrid"> <input name="p_id" value="{{object.product.p_id}}" type="hidden">
                {{ csrf_field() }}
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body table-responsive p-0">
                                {{ dataGrid|raw }}
                            </div>
                        </div>
                        {{ index_data_list.links()|raw }}
                    </div>
                </div>
                
            </form>
        </div>
    </section>

{% endblock %}

{% block script %}
    <script>
        const this_url = "{{url('/dashboard/vr_popup')}}";
        function get_filter_object_select_state($filter_select){
            const result = {};
            $.each($filter_select,function(){
                const valueSelected = this.value;
                const this_name = $(this).attr('name');
                result[this_name] = this.value == 0 ? "all" : this.value;
            });
            return result; 
        }
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
            return false;
        };
        $('#search_txt').val(getUrlParameter('search') != false ? getUrlParameter('search') : '');
        $( document ).ready(function() {
            $filter_select  = $('#filter_object select');
            var search = $('#search_txt').val();
            $.each($filter_select,function(){
                const this_select = this;
                $(this_select).on('change',function(){
                    const valueSelected = this.value;
                    console.log(valueSelected);
                    const state =  get_filter_object_select_state($filter_select);
                    console.log('STATE:',state);
                    const filter_group  = state.filter_vr_group;
                    const filter_area   = state.filter_vr_area;
                    window.location.href = this_url+"/group/"+filter_group+"/area/"+filter_area+'?search='+search;
                });
            });

            $('#search_txt').keypress(function(e){
                if (e.which == 13) {
                    var search = $(this).val();
                    $.each($filter_select, function(key, _value){
                        const this_select = _value;
                        const valueSelected = _value.value;
                        const state =  get_filter_object_select_state($filter_select);
                        console.log('STATE:',state);
                        const filter_group  = state.filter_vr_group;
                        const filter_area   = state.filter_vr_area;
                        window.location.href = this_url+"/group/"+filter_group+"/area/"+filter_area+'?search='+search;
                    }); 
                }
            });
        });
    </script>
{% endblock %}