<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ route('home_admin') }}" class="brand-link">
        <img src="{{ auth_user().avatar|default('backend_assets/images/logo.png') }}" alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">{{ config('cms.name') }}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-header">QUẢN LÝ NỘI DUNG</li>
                {% if can('vr_area') %}
                <li class="nav-item">
                    <a href="{{ route('admin_vr_area') }}" class="nav-link {{ selectedMainMenu == 'vr_area' ? 'active' : '' }}">
                        <i class="nav-icon fas fa-chevron-right"></i>
                        <p>Quản lý khu vực</p>
                    </a>
                </li>
                {% endif %}
               {% if can('vr_popup') %}
<li class="nav-item">
    <a href="{{ route('admin_vr_popup') }}"
       class="nav-link {{ selectedMainMenu == 'vr_popup' ? 'active' : '' }}">
        <i class="nav-icon fas fa-chevron-right"></i>
        <p>Quản lý nội dung</p>
    </a>
</li>
{% endif %}
                {% if can('vr_popup_group') %}<li class="nav-item">
                    <a href="{{ route('admin_vr_popup_group') }}" class="nav-link {{ selectedMainMenu == 'vr_popup_group' ? 'active' : '' }}">
                        <i class="nav-icon fas fa-chevron-right"></i>
                        <p>Quản lý nhóm nội dung</p>
                    </a>
                </li>{% endif %}
                {# <li class="nav-item">
                    <a href="{{ route('admin_guestbook') }}" class="nav-link {{ selectedMainMenu == 'guestbook' ? 'active' : '' }}">
                        <i class="nav-icon fas fa-chevron-right"></i>
                        <p>Quản lý sổ lưu bút</p>
                    </a>
                </li> #}

                <li class="nav-header">HỆ THỐNG</li>

                {% if can('file_manager') %}
                    <li class="nav-item">
                        <a href="{{ route('admin_file_manager') }}"
                           class="nav-link {{ selectedMainMenu == 'file_manager' ? 'active' : '' }}">
                            <i class="nav-icon fas fa-file-archive"></i>
                            <p>Quản lý file</p>
                        </a>
                    </li>
                {% endif %}
                
                {% if can('video') %}
                    <li class="nav-item">
                        <a href="{{ route('videos') }}"
                           class="nav-link {{ selectedMainMenu == 'videos' ? 'active' : '' }}">
                            <i class="nav-icon fas fa-file-archive"></i>
                            <p>Quản lý video</p>
                        </a>
                    </li>
                {% endif %}

                {% if can('user') %}
                    <li class="nav-item">
                        <a href="{{ route('admin_user') }}"
                           class="nav-link {{ selectedMainMenu == 'user' ? 'active' : '' }}">
                            <i class="nav-icon fas fa-angle-right fa-users-cog"></i>
                            <p>Quản lý user</p>
                        </a>
                    </li>
                {% endif %}

                {% if can('setting_general') or can('setting_social') or can('setting_seo') or can('setting_product') %}
                    <li class="nav-item has-treeview {{ selectedMainMenu == 'setting' ? 'menu-open' : '' }}">
                        <a href="{{ route('admin_setting_general') }}"
                           class="nav-link {{ selectedMainMenu == 'setting' ? 'active' : '' }}">
                            <i class="nav-icon fas fa-cogs"></i>
                            <p>
                                Quản lý cấu hình
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">

                            {% if can('setting_general') %}
                                <li class="nav-item">
                                    <a href="{{ route('admin_setting_general') }}"
                                       class="nav-link {{ selectedSubMenu == 'setting_general' ? 'active' : '' }}">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Cấu hình chung</p>
                                    </a>
                                </li>
                            {% endif %}

                            {#                            {% if can('setting_product') %} #}
                            {#                                <li class="nav-item"> #}
                            {#                                    <a href="{{ route('admin_setting_product') }}" #}
                            {#                                       class="nav-link {{ selectedSubMenu == 'setting_product' ? 'active' : '' }}"> #}
                            {#                                        <i class="fas fa-angle-right nav-icon"></i> #}
                            {#                                        <p>Cấu hình sản phẩm</p> #}
                            {#                                    </a> #}
                            {#                                </li> #}
                            {#                            {% endif %} #}

                            {% if can('setting_social') %}
                                <li class="nav-item d-none">
                                    <a href="{{ route('admin_setting_social') }}"
                                       class="nav-link {{ selectedSubMenu == 'setting_social' ? 'active' : '' }}">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Cấu hình mạng xã hội</p>
                                    </a>
                                </li>
                            {% endif %}

                            {% if can('setting_seo') %}
                                <li class="nav-item d-none" >
                                    <a href="{{ route('admin_setting_seo') }}"
                                       class="nav-link {{ selectedSubMenu == 'setting_seo' ? 'active' : '' }}">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Cấu hình mạng SEO</p>
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </li>
                {% endif %}

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
