<thead>
<tr>
    <th width="20%">Họ và tên</th>
    <th width="20%">Tên đăng nhập</th>
    <th width="20%">Email</th>
    <th width="20%">Số điện thoại</th>
    <th width="10%">Ngày đăng ký</th>
    <th style="white-space: nowrap" width="60px">Trạng thái</th>
</tr>
</thead>
<tbody>
{% for user in users %}
    <tr id="user-{{ user.id }}" style="height: auto;">
        <td>
            <a href="{{ route('admin_user_edit', user) }}">{{ user.name }}</a>
        </td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone|default('--') }}</td>
        <td>{{ user.created_at|date('d/m/Y') }}</td>
        <td>{{ user.getStatus()|raw }}</td>
    </tr>
{% endfor %}
</tbody>
